In [11]:
import pandas as pd
import math

In [12]:
with open('input.txt', 'r') as input_data:
    rows = [line.strip() for line in input_data.readlines()]

In [43]:
def get_df(word, rows):
    d = {}
    i = 0
    for row in rows:
        if row == word:
            i += 1
            break
        i += 1
    j = 0
    for row in rows:
        if j >= i :
            if row == "":
                break
            d[i] = []
            d[i] = row.split(' ')
            d[i] = [int(i) for i in d[i]]
            i += 1
        j += 1
    df = pd. DataFrame. from_dict(d, orient='index') 
    df.rename(columns={0:"dest", 1:"src", 2:"range"}, inplace = True)
    return (df)

In [44]:
seedtosoil = get_df("seed-to-soil map:", rows)

soiltofert = get_df("soil-to-fertilizer map:", rows)

fertowater = get_df("fertilizer-to-water map:", rows)

watertolite = get_df("water-to-light map:", rows)

litetotemp = get_df("light-to-temperature map:", rows)

temptohum = get_df("temperature-to-humidity map:", rows)

humtoloc = get_df("humidity-to-location map:", rows)

In [45]:
for row in rows:
        if "seeds:" in row:
            seeds = (row.split(': ')[1].split(' '))
            seeds = [int(i) for i in seeds]
            print(seeds)

[41218238, 421491713, 1255413673, 350530906, 944138913, 251104806, 481818804, 233571979, 2906248740, 266447632, 3454130719, 50644329, 1920342932, 127779721, 2109326496, 538709762, 3579244700, 267233350, 4173137165, 60179884]

In [109]:
#df.loc[ df[“column_name”] == “some_value”, “column_name”] = “value”
d = {}
i = 0
for seed in seeds:
    d[i] = []
    d[i].append(seedtosoil.loc[(seedtosoil["src" ] <= 
                                     seed) & (seedtosoil["src" ] + 
                                                  seedtosoil["range" ]  >= seed)])
    i += 1

In [111]:
d

{0: [          dest       src      range
  27  1644897150  26921882  117802553],
 1: [         dest        src     range
  6  1475667857  405321476  41320497],
 2: [         dest         src     range
  3  1389477588  1222450723  86190269],
 3: [         dest        src      range
  40  719122510  144724435  260597041],
 4: [          dest        src     range
  45  1069995565  875204932  81953848],
 5: [         dest        src      range
  40  719122510  144724435  260597041],
 6: [         dest        src     range
  16  979719551  446641973  90276014],
 7: [         dest        src      range
  40  719122510  144724435  260597041],
 8: [          dest         src      range
  42  2496835771  2741309195  199629864],
 9: [         dest        src      range
  40  719122510  144724435  260597041],
 10: [         dest         src      range
  4  2369327568  3429737174  127508203],
 11: [          dest       src      range
  27  1644897150  26921882  117802553],
 12: [         dest         src      range
  47  270778478  1814135909  109709019],
 13: [          dest       src      range
  27  1644897150  26921882  117802553],
 14: [          dest         src      range
  33  2729160001  2097020452  172032755],
 15: [         dest        src     range
  7  1258939826  536917987  41172751],
 16: [          dest         src      range
  34  3635193279  3557245377  297262255],
 17: [         dest        src      range
  40  719122510  144724435  260597041],
 18: [          dest         src      range
  44  3200111916  4117921253  119304042],
 19: [          dest       src      range
  27  1644897150  26921882  117802553]}

In [107]:
d

{'dest': 27    1644897150
 Name: dest, dtype: int64,
 'src': 27    26921882
 Name: src, dtype: int64,
 'range': 27    117802553
 Name: range, dtype: int64}

In [71]:
df = pd. DataFrame. from_dict(d, orient='columns')

In [72]:
df

          dest       src      range
27  1644897150  26921882  117802553