In [477]:
import pandas as pd

In [478]:
with open('input.txt', 'r') as input_data:
    rows = [line.strip() for line in input_data.readlines()]

In [479]:
count = 0
for row in rows:
    count += 1

print(count)

100

In [480]:
df = pd.DataFrame(rows)

In [481]:
df[0]

0     Game 1: 7 blue, 4 red, 11 green; 2 red, 2 blue...
1     Game 2: 3 green, 4 red, 4 blue; 6 red, 4 green...
2     Game 3: 1 red, 2 green, 3 blue; 1 red, 2 green...
3     Game 4: 1 red, 15 green; 1 green, 2 blue; 12 g...
4     Game 5: 8 red; 7 red; 11 red, 4 green; 1 blue,...
                            ...
95    Game 96: 3 blue, 12 red, 3 green; 13 red, 9 bl...
96    Game 97: 4 red, 3 green; 2 blue, 4 red, 5 gree...
97    Game 98: 2 red, 19 blue; 2 blue; 11 blue, 2 re...
98    Game 99: 2 red, 16 blue, 1 green; 2 green, 12 ...
99    Game 100: 8 green, 3 red; 7 green, 4 red; 1 re...
Name: 0, Length: 100, dtype: object

In [482]:
df = df[0].str.split(':', expand=True)

In [483]:
df.rename(columns={0:'Game'}, inplace=True)

In [484]:
df[1][0]

' 7 blue, 4 red, 11 green; 2 red, 2 blue, 7 green; 2 red, 13 blue, 8 green; 18 blue, 7 green, 5 red'

In [485]:
df

        Game                                                  1
0     Game 1   7 blue, 4 red, 11 green; 2 red, 2 blue, 7 gre...
1     Game 2   3 green, 4 red, 4 blue; 6 red, 4 green, 4 blu...
2     Game 3   1 red, 2 green, 3 blue; 1 red, 2 green; 2 gre...
3     Game 4   1 red, 15 green; 1 green, 2 blue; 12 green, 1...
4     Game 5   8 red; 7 red; 11 red, 4 green; 1 blue, 8 red;...
..       ...                                                ...
95   Game 96   3 blue, 12 red, 3 green; 13 red, 9 blue; 2 gr...
96   Game 97   4 red, 3 green; 2 blue, 4 red, 5 green; 3 red...
97   Game 98   2 red, 19 blue; 2 blue; 11 blue, 2 red; 3 gre...
98   Game 99   2 red, 16 blue, 1 green; 2 green, 12 blue, 6 ...
99  Game 100   8 green, 3 red; 7 green, 4 red; 1 red, 7 gree...

[100 rows x 2 columns]

In [486]:
print(df.iloc[3][1])

 1 red, 15 green; 1 green, 2 blue; 12 green, 1 red, 2 blue; 14 green; 2 green, 1 blue, 2 red

In [487]:
df2 = df[1].str.split(";", expand=True)

In [488]:
df2

,0,1,2,3,4,5
0,"7 blue, 4 red, 11 green","2 red, 2 blue, 7 green","2 red, 13 blue, 8 green","18 blue, 7 green, 5 red",None,None
1,"3 green, 4 red, 4 blue","6 red, 4 green, 4 blue","2 blue, 4 green, 3 red",None,None,None
2,"1 red, 2 green, 3 blue","1 red, 2 green","2 green, 3 red","1 blue, 2 red",None,None
3,"1 red, 15 green","1 green, 2 blue","12 green, 1 red, 2 blue",14 green,"2 green, 1 blue, 2 red",None
4,8 red,7 red,"11 red, 4 green","1 blue, 8 red","6 red, 2 green, 1 blue","8 green, 13 red, 1 blue"
...,...,...,...,...,...,...
95,"3 blue, 12 red, 3 green","13 red, 9 blue","2 green, 5 red, 13 blue","2 red, 18 blue, 4 green","6 red, 6 blue, 7 green","3 green, 15 red, 18 blue"
96,"4 red, 3 green","2 blue, 4 red, 5 green","3 red, 3 green",None,None,None
97,"2 red, 19 blue",2 blue,"11 blue, 2 red","3 green, 5 blue, 1 red","2 red, 1 blue",17 blue
98,"2 red, 16 blue, 1 green","2 green, 12 blue, 6 red","1 red, 3 green, 3 blue","8 red, 1 green","2 red, 9 blue","1 green, 7 red, 9 blue"
99,"8 green, 3 red","7 green, 4 red","1 red, 7 green, 2 blue","1 green, 2 red",None,None

In [529]:
d = []
for row in df2.iterrows():
    d = row[1].str.split(, expand = True)
print(d)

TypeError: unhashable type: 'list'

In [523]:
#[0-9]{1,2} [a-z]{3,5}[;,]?

In [458]:
dict

{0: {0: '7',
  1: 'blue,',
  2: '4',
  3: 'red,',
  4: '11',
  5: 'green;',
  6: '2',
  7: 'red,',
  8: '2',
  9: 'blue,',
  10: '7',
  11: 'green;',
  12: '2',
  13: 'red,',
  14: '13',
  15: 'blue,',
  16: '8',
  17: 'green;',
  18: '18',
  19: 'blue,',
  20: '7',
  21: 'green,',
  22: '5',
  23: 'red',
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 1: {0: '3',
  1: 'green,',
  2: '4',
  3: 'red,',
  4: '4',
  5: 'blue;',
  6: '6',
  7: 'red,',
  8: '4',
  9: 'green,',
  10: '4',
  11: 'blue;',
  12: '2',
  13: 'blue,',
  14: '4',
  15: 'green,',
  16: '3',
  17: 'red',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 2: {0: '1',
  1: 'red,',
  2: '2',
  3: 'green,',
  4: '3',
  5: 'blue;',
  6: '1',
  7: 'red,',
  8: '2',
  9: 'green;',
  10: '2',
  11: 'green,',
  12: '3',
  13: 'red;',
  14: '1',
  15: 'blue,',
  16: '2',
  17: 'red',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 3: {0: '1',
  1: 'red,',
  2: '15',
  3: 'green;',
  4: '1',
  5: 'green,',
  6: '2',
  7: 'blue;',
  8: '12',
  9: 'green,',
  10: '1',
  11: 'red,',
  12: '2',
  13: 'blue;',
  14: '14',
  15: 'green;',
  16: '2',
  17: 'green,',
  18: '1',
  19: 'blue,',
  20: '2',
  21: 'red',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 4: {0: '8',
  1: 'red;',
  2: '7',
  3: 'red;',
  4: '11',
  5: 'red,',
  6: '4',
  7: 'green;',
  8: '1',
  9: 'blue,',
  10: '8',
  11: 'red;',
  12: '6',
  13: 'red,',
  14: '2',
  15: 'green,',
  16: '1',
  17: 'blue;',
  18: '8',
  19: 'green,',
  20: '13',
  21: 'red,',
  22: '1',
  23: 'blue',
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 5: {0: '3',
  1: 'blue,',
  2: '2',
  3: 'red,',
  4: '6',
  5: 'green;',
  6: '2',
  7: 'red,',
  8: '8',
  9: 'green,',
  10: '1',
  11: 'blue;',
  12: '1',
  13: 'red,',
  14: '3',
  15: 'blue',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 6: {0: '5',
  1: 'green,',
  2: '1',
  3: 'red,',
  4: '1',
  5: 'blue;',
  6: '6',
  7: 'blue,',
  8: '12',
  9: 'red;',
  10: '6',
  11: 'red,',
  12: '7',
  13: 'green;',
  14: '3',
  15: 'green,',
  16: '1',
  17: 'blue',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 7: {0: '10',
  1: 'red,',
  2: '6',
  3: 'green;',
  4: '4',
  5: 'blue,',
  6: '6',
  7: 'green,',
  8: '5',
  9: 'red;',
  10: '8',
  11: 'green,',
  12: '5',
  13: 'red,',
  14: '5',
  15: 'blue;',
  16: '2',
  17: 'red,',
  18: '4',
  19: 'blue',
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 8: {0: '11',
  1: 'blue,',
  2: '13',
  3: 'red,',
  4: '3',
  5: 'green;',
  6: '13',
  7: 'red,',
  8: '1',
  9: 'green,',
  10: '6',
  11: 'blue;',
  12: '8',
  13: 'blue,',
  14: '4',
  15: 'green,',
  16: '5',
  17: 'red;',
  18: '16',
  19: 'red,',
  20: '7',
  21: 'green,',
  22: '10',
  23: 'blue;',
  24: '16',
  25: 'red,',
  26: '5',
  27: 'green,',
  28: '6',
  29: 'blue;',
  30: '17',
  31: 'red,',
  32: '6',
  33: 'blue',
  34: None,
  35: None},
 9: {0: '16',
  1: 'blue,',
  2: '8',
  3: 'green;',
  4: '2',
  5: 'red,',
  6: '4',
  7: 'green,',
  8: '1',
  9: 'blue;',
  10: '15',
  11: 'blue;',
  12: '4',
  13: 'red,',
  14: '5',
  15: 'green,',
  16: '4',
  17: 'blue',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 10: {0: '3',
  1: 'blue,',
  2: '8',
  3: 'red,',
  4: '10',
  5: 'green;',
  6: '10',
  7: 'red,',
  8: '6',
  9: 'green;',
  10: '1',
  11: 'red,',
  12: '1',
  13: 'green;',
  14: '13',
  15: 'red,',
  16: '1',
  17: 'green,',
  18: '1',
  19: 'blue;',
  20: '3',
  21: 'green,',
  22: '7',
  23: 'red;',
  24: '2',
  25: 'blue,',
  26: '6',
  27: 'green,',
  28: '2',
  29: 'red',
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 11: {0: '1',
  1: 'red,',
  2: '10',
  3: 'green;',
  4: '4',
  5: 'red,',
  6: '6',
  7: 'green,',
  8: '1',
  9: 'blue;',
  10: '9',
  11: 'green,',
  12: '1',
  13: 'blue,',
  14: '7',
  15: 'red;',
  16: '1',
  17: 'blue,',
  18: '13',
  19: 'green,',
  20: '2',
  21: 'red;',
  22: '2',
  23: 'blue,',
  24: '5',
  25: 'red,',
  26: '11',
  27: 'green',
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 12: {0: '1',
  1: 'red,',
  2: '5',
  3: 'blue;',
  4: '1',
  5: 'red,',
  6: '6',
  7: 'green;',
  8: '2',
  9: 'blue,',
  10: '1',
  11: 'red;',
  12: '2',
  13: 'blue,',
  14: '1',
  15: 'red,',
  16: '2',
  17: 'green;',
  18: '5',
  19: 'green,',
  20: '2',
  21: 'blue',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 13: {0: '4',
  1: 'green;',
  2: '8',
  3: 'blue,',
  4: '1',
  5: 'red,',
  6: '2',
  7: 'green;',
  8: '7',
  9: 'red,',
  10: '2',
  11: 'green,',
  12: '4',
  13: 'blue;',
  14: '4',
  15: 'blue,',
  16: '7',
  17: 'green;',
  18: '7',
  19: 'blue,',
  20: '2',
  21: 'green,',
  22: '1',
  23: 'red;',
  24: '7',
  25: 'blue,',
  26: '5',
  27: 'red',
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 14: {0: '10',
  1: 'green,',
  2: '3',
  3: 'red;',
  4: '8',
  5: 'blue,',
  6: '14',
  7: 'green,',
  8: '3',
  9: 'red;',
  10: '4',
  11: 'red,',
  12: '1',
  13: 'green,',
  14: '12',
  15: 'blue',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 15: {0: '8',
  1: 'red,',
  2: '4',
  3: 'blue,',
  4: '6',
  5: 'green;',
  6: '14',
  7: 'blue,',
  8: '9',
  9: 'red,',
  10: '10',
  11: 'green;',
  12: '1',
  13: 'red,',
  14: '5',
  15: 'blue,',
  16: '8',
  17: 'green;',
  18: '14',
  19: 'blue,',
  20: '11',
  21: 'green,',
  22: '3',
  23: 'red',
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 16: {0: '20',
  1: 'blue,',
  2: '5',
  3: 'red,',
  4: '4',
  5: 'green;',
  6: '3',
  7: 'red,',
  8: '14',
  9: 'blue;',
  10: '4',
  11: 'red,',
  12: '4',
  13: 'blue,',
  14: '4',
  15: 'green;',
  16: '12',
  17: 'blue,',
  18: '5',
  19: 'red,',
  20: '3',
  21: 'green',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 17: {0: '7',
  1: 'blue,',
  2: '8',
  3: 'red;',
  4: '1',
  5: 'blue,',
  6: '2',
  7: 'red;',
  8: '1',
  9: 'green,',
  10: '2',
  11: 'blue',
  12: None,
  13: None,
  14: None,
  15: None,
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 18: {0: '14',
  1: 'green,',
  2: '4',
  3: 'blue;',
  4: '6',
  5: 'green;',
  6: '12',
  7: 'green,',
  8: '5',
  9: 'blue;',
  10: '12',
  11: 'green,',
  12: '1',
  13: 'red,',
  14: '1',
  15: 'blue;',
  16: '4',
  17: 'blue,',
  18: '10',
  19: 'green',
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 19: {0: '3',
  1: 'green,',
  2: '4',
  3: 'blue,',
  4: '4',
  5: 'red;',
  6: '13',
  7: 'blue,',
  8: '1',
  9: 'red,',
  10: '2',
  11: 'green;',
  12: '13',
  13: 'blue,',
  14: '9',
  15: 'green,',
  16: '9',
  17: 'red',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 20: {0: '4',
  1: 'green,',
  2: '2',
  3: 'blue,',
  4: '2',
  5: 'red;',
  6: '3',
  7: 'green,',
  8: '2',
  9: 'blue;',
  10: '1',
  11: 'blue,',
  12: '5',
  13: 'green;',
  14: '1',
  15: 'blue,',
  16: '2',
  17: 'red,',
  18: '3',
  19: 'green;',
  20: '1',
  21: 'green,',
  22: '1',
  23: 'blue,',
  24: '2',
  25: 'red;',
  26: '6',
  27: 'blue,',
  28: '1',
  29: 'green',
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 21: {0: '4',
  1: 'red,',
  2: '17',
  3: 'green;',
  4: '15',
  5: 'green,',
  6: '3',
  7: 'blue,',
  8: '2',
  9: 'red;',
  10: '4',
  11: 'blue,',
  12: '7',
  13: 'red,',
  14: '11',
  15: 'green;',
  16: '16',
  17: 'green,',
  18: '4',
  19: 'red;',
  20: '3',
  21: 'blue,',
  22: '2',
  23: 'red',
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 22: {0: '19',
  1: 'green,',
  2: '2',
  3: 'blue,',
  4: '3',
  5: 'red;',
  6: '1',
  7: 'red,',
  8: '2',
  9: 'blue,',
  10: '2',
  11: 'green;',
  12: '2',
  13: 'blue,',
  14: '10',
  15: 'green,',
  16: '11',
  17: 'red',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 23: {0: '1',
  1: 'red,',
  2: '3',
  3: 'blue;',
  4: '2',
  5: 'blue;',
  6: '1',
  7: 'green,',
  8: '1',
  9: 'red,',
  10: '3',
  11: 'blue;',
  12: '1',
  13: 'red,',
  14: '1',
  15: 'green',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 24: {0: '12',
  1: 'green,',
  2: '2',
  3: 'red,',
  4: '10',
  5: 'blue;',
  6: '6',
  7: 'green,',
  8: '3',
  9: 'red;',
  10: '3',
  11: 'green,',
  12: '18',
  13: 'blue,',
  14: '3',
  15: 'red;',
  16: '17',
  17: 'green,',
  18: '3',
  19: 'red,',
  20: '18',
  21: 'blue',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 25: {0: '4',
  1: 'red,',
  2: '12',
  3: 'blue,',
  4: '5',
  5: 'green;',
  6: '3',
  7: 'green,',
  8: '5',
  9: 'red,',
  10: '1',
  11: 'blue;',
  12: '6',
  13: 'blue,',
  14: '4',
  15: 'green,',
  16: '1',
  17: 'red;',
  18: '6',
  19: 'blue,',
  20: '7',
  21: 'green;',
  22: '3',
  23: 'green,',
  24: '5',
  25: 'red,',
  26: '2',
  27: 'blue;',
  28: '1',
  29: 'green,',
  30: '2',
  31: 'blue,',
  32: '9',
  33: 'red',
  34: None,
  35: None},
 26: {0: '1',
  1: 'red,',
  2: '9',
  3: 'green;',
  4: '3',
  5: 'green;',
  6: '9',
  7: 'green,',
  8: '2',
  9: 'blue,',
  10: '1',
  11: 'red;',
  12: '10',
  13: 'green,',
  14: '1',
  15: 'blue;',
  16: '1',
  17: 'red,',
  18: '5',
  19: 'green,',
  20: '3',
  21: 'blue',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 27: {0: '10',
  1: 'red,',
  2: '8',
  3: 'green;',
  4: '2',
  5: 'blue,',
  6: '4',
  7: 'green,',
  8: '7',
  9: 'red;',
  10: '2',
  11: 'green,',
  12: '9',
  13: 'red,',
  14: '1',
  15: 'blue',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 28: {0: '5',
  1: 'blue,',
  2: '5',
  3: 'green,',
  4: '3',
  5: 'red;',
  6: '1',
  7: 'green,',
  8: '2',
  9: 'blue,',
  10: '3',
  11: 'red;',
  12: '2',
  13: 'green,',
  14: '3',
  15: 'blue,',
  16: '5',
  17: 'red;',
  18: '3',
  19: 'red,',
  20: '11',
  21: 'blue',
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 29: {0: '11',
  1: 'red,',
  2: '5',
  3: 'green;',
  4: '4',
  5: 'blue,',
  6: '3',
  7: 'green,',
  8: '5',
  9: 'red;',
  10: '6',
  11: 'blue,',
  12: '3',
  13: 'green,',
  14: '5',
  15: 'red',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 30: {0: '2',
  1: 'blue,',
  2: '8',
  3: 'green,',
  4: '14',
  5: 'red;',
  6: '9',
  7: 'green;',
  8: '1',
  9: 'red,',
  10: '1',
  11: 'blue,',
  12: '4',
  13: 'green;',
  14: '2',
  15: 'green,',
  16: '10',
  17: 'red;',
  18: '1',
  19: 'red,',
  20: '10',
  21: 'green,',
  22: '2',
  23: 'blue;',
  24: '8',
  25: 'green,',
  26: '14',
  27: 'red',
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 31: {0: '14',
  1: 'green,',
  2: '6',
  3: 'red,',
  4: '6',
  5: 'blue;',
  6: '1',
  7: 'red,',
  8: '2',
  9: 'blue,',
  10: '15',
  11: 'green;',
  12: '2',
  13: 'red,',
  14: '18',
  15: 'green,',
  16: '1',
  17: 'blue',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 32: {0: '16',
  1: 'green,',
  2: '4',
  3: 'red;',
  4: '18',
  5: 'green,',
  6: '3',
  7: 'red;',
  8: '5',
  9: 'red,',
  10: '10',
  11: 'green;',
  12: '5',
  13: 'red,',
  14: '19',
  15: 'green;',
  16: '11',
  17: 'green,',
  18: '4',
  19: 'red;',
  20: '11',
  21: 'red,',
  22: '1',
  23: 'blue,',
  24: '2',
  25: 'green',
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 33: {0: '1',
  1: 'blue,',
  2: '11',
  3: 'red;',
  4: '5',
  5: 'red,',
  6: '4',
  7: 'green;',
  8: '4',
  9: 'green,',
  10: '1',
  11: 'blue,',
  12: '12',
  13: 'red;',
  14: '2',
  15: 'blue,',
  16: '1',
  17: 'green,',
  18: '7',
  19: 'red;',
  20: '3',
  21: 'green,',
  22: '1',
  23: 'blue,',
  24: '12',
  25: 'red',
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 34: {0: '5',
  1: 'red,',
  2: '1',
  3: 'blue;',
  4: '1',
  5: 'blue,',
  6: '1',
  7: 'red;',
  8: '2',
  9: 'blue,',
  10: '2',
  11: 'green,',
  12: '15',
  13: 'red;',
  14: '7',
  15: 'red,',
  16: '2',
  17: 'green;',
  18: '3',
  19: 'blue,',
  20: '1',
  21: 'green,',
  22: '1',
  23: 'red;',
  24: '16',
  25: 'red,',
  26: '3',
  27: 'blue,',
  28: '1',
  29: 'green',
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 35: {0: '10',
  1: 'green,',
  2: '16',
  3: 'red;',
  4: '2',
  5: 'blue,',
  6: '14',
  7: 'green,',
  8: '6',
  9: 'red;',
  10: '1',
  11: 'blue,',
  12: '8',
  13: 'green,',
  14: '12',
  15: 'red',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 36: {0: '17',
  1: 'green,',
  2: '14',
  3: 'blue;',
  4: '10',
  5: 'green,',
  6: '12',
  7: 'blue;',
  8: '10',
  9: 'blue,',
  10: '1',
  11: 'red,',
  12: '8',
  13: 'green',
  14: None,
  15: None,
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 37: {0: '9',
  1: 'blue,',
  2: '2',
  3: 'green;',
  4: '5',
  5: 'blue,',
  6: '1',
  7: 'green,',
  8: '5',
  9: 'red;',
  10: '6',
  11: 'blue,',
  12: '2',
  13: 'green,',
  14: '7',
  15: 'red;',
  16: '17',
  17: 'red,',
  18: '1',
  19: 'green,',
  20: '7',
  21: 'blue;',
  22: '1',
  23: 'green,',
  24: '9',
  25: 'blue,',
  26: '16',
  27: 'red',
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 38: {0: '2',
  1: 'red,',
  2: '13',
  3: 'blue,',
  4: '10',
  5: 'green;',
  6: '5',
  7: 'blue,',
  8: '15',
  9: 'green,',
  10: '1',
  11: 'red;',
  12: '13',
  13: 'blue,',
  14: '5',
  15: 'green;',
  16: '3',
  17: 'red,',
  18: '6',
  19: 'blue,',
  20: '2',
  21: 'green;',
  22: '17',
  23: 'green,',
  24: '1',
  25: 'blue,',
  26: '4',
  27: 'red;',
  28: '4',
  29: 'red,',
  30: '1',
  31: 'blue,',
  32: '11',
  33: 'green',
  34: None,
  35: None},
 39: {0: '4',
  1: 'green,',
  2: '12',
  3: 'blue;',
  4: '5',
  5: 'red,',
  6: '13',
  7: 'blue,',
  8: '1',
  9: 'green;',
  10: '4',
  11: 'green,',
  12: '7',
  13: 'red;',
  14: '7',
  15: 'blue,',
  16: '2',
  17: 'green',
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 40: {0: '3',
  1: 'red,',
  2: '1',
  3: 'green;',
  4: '10',
  5: 'green,',
  6: '4',
  7: 'blue,',
  8: '5',
  9: 'red;',
  10: '8',
  11: 'blue,',
  12: '5',
  13: 'red',
  14: None,
  15: None,
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 41: {0: '8',
  1: 'blue,',
  2: '12',
  3: 'red,',
  4: '5',
  5: 'green;',
  6: '8',
  7: 'red,',
  8: '5',
  9: 'green,',
  10: '4',
  11: 'blue;',
  12: '3',
  13: 'green,',
  14: '13',
  15: 'red;',
  16: '8',
  17: 'blue,',
  18: '16',
  19: 'red;',
  20: '12',
  21: 'red,',
  22: '3',
  23: 'green,',
  24: '1',
  25: 'blue;',
  26: '2',
  27: 'blue,',
  28: '2',
  29: 'green,',
  30: '6',
  31: 'red',
  32: None,
  33: None,
  34: None,
  35: None},
 42: {0: '5',
  1: 'blue,',
  2: '4',
  3: 'red;',
  4: '10',
  5: 'red,',
  6: '6',
  7: 'blue;',
  8: '12',
  9: 'red,',
  10: '2',
  11: 'blue,',
  12: '1',
  13: 'green;',
  14: '7',
  15: 'blue,',
  16: '12',
  17: 'red,',
  18: '1',
  19: 'green',
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 43: {0: '11',
  1: 'blue,',
  2: '5',
  3: 'red;',
  4: '2',
  5: 'red,',
  6: '13',
  7: 'green,',
  8: '5',
  9: 'blue;',
  10: '7',
  11: 'red,',
  12: '7',
  13: 'blue,',
  14: '11',
  15: 'green',
  16: None,
  17: None,
  18: None,
  19: None,
  20: None,
  21: None,
  22: None,
  23: None,
  24: None,
  25: None,
  26: None,
  27: None,
  28: None,
  29: None,
  30: None,
  31: None,
  32: None,
  33: None,
  34: None,
  35: None},
 44: {0: '7',
  1: 'red,',
  2: '6',
  3: 'blue;',
  4: '5',
  5: 'blue,',
  6: '6',
  7: 'green;',
  8: '5',
  9: 'green,',
  10: '5',
  11: 'blue,',
  12: '7',
  13: 'red;',
  14: '4',

In [342]:
df2["Row_count"] = 0

In [344]:
df2["Row_count"] = df2.count(axis='columns') - 1
df2

,0,1,2,3,4,5,Row_count
0,"7 blue, 4 red, 11 green","2 red, 2 blue, 7 green","2 red, 13 blue, 8 green","18 blue, 7 green, 5 red",None,None,4
1,"3 green, 4 red, 4 blue","6 red, 4 green, 4 blue","2 blue, 4 green, 3 red",None,None,None,3
2,"1 red, 2 green, 3 blue","1 red, 2 green","2 green, 3 red","1 blue, 2 red",None,None,4
3,"1 red, 15 green","1 green, 2 blue","12 green, 1 red, 2 blue",14 green,"2 green, 1 blue, 2 red",None,5
4,8 red,7 red,"11 red, 4 green","1 blue, 8 red","6 red, 2 green, 1 blue","8 green, 13 red, 1 blue",6
...,...,...,...,...,...,...,...
95,"3 blue, 12 red, 3 green","13 red, 9 blue","2 green, 5 red, 13 blue","2 red, 18 blue, 4 green","6 red, 6 blue, 7 green","3 green, 15 red, 18 blue",6
96,"4 red, 3 green","2 blue, 4 red, 5 green","3 red, 3 green",None,None,None,3
97,"2 red, 19 blue",2 blue,"11 blue, 2 red","3 green, 5 blue, 1 red","2 red, 1 blue",17 blue,6
98,"2 red, 16 blue, 1 green","2 green, 12 blue, 6 red","1 red, 3 green, 3 blue","8 red, 1 green","2 red, 9 blue","1 green, 7 red, 9 blue",6
99,"8 green, 3 red","7 green, 4 red","1 red, 7 green, 2 blue","1 green, 2 red",None,None,4

In [348]:
for index, row in df2.iterrows():
    count = row["Row_count"]
    print("INDEXXXXX: " , index + 1)
    print(row)
    print(count)

INDEXXXXX:  1
0             7 blue, 4 red, 11 green
1              2 red, 2 blue, 7 green
2             2 red, 13 blue, 8 green
3             18 blue, 7 green, 5 red
4                                None
5                                None
Row_count                           4
Name: 0, dtype: object
4
INDEXXXXX:  2
0             3 green, 4 red, 4 blue
1             6 red, 4 green, 4 blue
2             2 blue, 4 green, 3 red
3                               None
4                               None
5                               None
Row_count                          3
Name: 1, dtype: object
3
INDEXXXXX:  3
0             1 red, 2 green, 3 blue
1                     1 red, 2 green
2                     2 green, 3 red
3                      1 blue, 2 red
4                               None
5                               None
Row_count                          4
Name: 2, dtype: object
4
INDEXXXXX:  4
0                     1 red, 15 green
1                     1 green, 2 blue
2             12 green, 1 red, 2 blue
3                            14 green
4              2 green, 1 blue, 2 red
5                                None
Row_count                           5
Name: 3, dtype: object
5
INDEXXXXX:  5
0                               8 red
1                               7 red
2                     11 red, 4 green
3                       1 blue, 8 red
4              6 red, 2 green, 1 blue
5             8 green, 13 red, 1 blue
Row_count                           6
Name: 4, dtype: object
6
INDEXXXXX:  6
0             3 blue, 2 red, 6 green
1             2 red, 8 green, 1 blue
2                      1 red, 3 blue
3                               None
4                               None
5                               None
Row_count                          3
Name: 5, dtype: object
3
INDEXXXXX:  7
0             5 green, 1 red, 1 blue
1                     6 blue, 12 red
2                     6 red, 7 green
3                    3 green, 1 blue
4                               None
5                               None
Row_count                          4
Name: 6, dtype: object
4
INDEXXXXX:  8
0                    10 red, 6 green
1             4 blue, 6 green, 5 red
2             8 green, 5 red, 5 blue
3                      2 red, 4 blue
4                               None
5                               None
Row_count                          4
Name: 7, dtype: object
4
INDEXXXXX:  9
0             11 blue, 13 red, 3 green
1              13 red, 1 green, 6 blue
2               8 blue, 4 green, 5 red
3             16 red, 7 green, 10 blue
4              16 red, 5 green, 6 blue
5                       17 red, 6 blue
Row_count                            6
Name: 8, dtype: object
6
INDEXXXXX:  10
0                   16 blue, 8 green
1             2 red, 4 green, 1 blue
2                            15 blue
3             4 red, 5 green, 4 blue
4                               None
5                               None
Row_count                          4
Name: 9, dtype: object
4
INDEXXXXX:  11
0             3 blue, 8 red, 10 green
1                     10 red, 6 green
2                      1 red, 1 green
3             13 red, 1 green, 1 blue
4                      3 green, 7 red
5              2 blue, 6 green, 2 red
Row_count                           6
Name: 10, dtype: object
6
INDEXXXXX:  12
0                     1 red, 10 green
1              4 red, 6 green, 1 blue
2              9 green, 1 blue, 7 red
3             1 blue, 13 green, 2 red
4             2 blue, 5 red, 11 green
5                                None
Row_count                           5
Name: 11, dtype: object
5
INDEXXXXX:  13
0                      1 red, 5 blue
1                     1 red, 6 green
2                      2 blue, 1 red
3             2 blue, 1 red, 2 green
4                    5 green, 2 blue
5                               None
Row_count                          5
Name: 12, dtype: object
5
INDEXXXXX:  14
0                            4 green
1             8 blue, 1 red, 2 green
2             7 red, 2 green, 4 blue
3                    4 blue, 7 green
4             7 blue, 2 green, 1 red
5                      7 blue, 5 red
Row_count                          6
Name: 13, dtype: object
6
INDEXXXXX:  15
0                     10 green, 3 red
1             8 blue, 14 green, 3 red
2             4 red, 1 green, 12 blue
3                                None
4                                None
5                                None
Row_count                           3
Name: 14, dtype: object
3
INDEXXXXX:  16
0               8 red, 4 blue, 6 green
1             14 blue, 9 red, 10 green
2               1 red, 5 blue, 8 green
3             14 blue, 11 green, 3 red
4                                 None
5                                 None
Row_count                            4
Name: 15, dtype: object
4
INDEXXXXX:  17
0             20 blue, 5 red, 4 green
1                      3 red, 14 blue
2              4 red, 4 blue, 4 green
3             12 blue, 5 red, 3 green
4                                None
5                                None
Row_count                           4
Name: 16, dtype: object
4
INDEXXXXX:  18
0               7 blue, 8 red
1               1 blue, 2 red
2             1 green, 2 blue
3                        None
4                        None
5                        None
Row_count                   3
Name: 17, dtype: object
3
INDEXXXXX:  19
0                    14 green, 4 blue
1                             6 green
2                    12 green, 5 blue
3             12 green, 1 red, 1 blue
4                    4 blue, 10 green
5                                None
Row_count                           5
Name: 18, dtype: object
5
INDEXXXXX:  20
0              3 green, 4 blue, 4 red
1             13 blue, 1 red, 2 green
2             13 blue, 9 green, 9 red
3                                None
4                                None
5                                None
Row_count                           3
Name: 19, dtype: object
3
INDEXXXXX:  21
0             4 green, 2 blue, 2 red
1                    3 green, 2 blue
2                    1 blue, 5 green
3             1 blue, 2 red, 3 green
4             1 green, 1 blue, 2 red
5                    6 blue, 1 green
Row_count                          6
Name: 20, dtype: object
6
INDEXXXXX:  22
0                     4 red, 17 green
1             15 green, 3 blue, 2 red
2             4 blue, 7 red, 11 green
3                     16 green, 4 red
4                       3 blue, 2 red
5                                None
Row_count                           5
Name: 21, dtype: object
5
INDEXXXXX:  23
0              19 green, 2 blue, 3 red
1               1 red, 2 blue, 2 green
2             2 blue, 10 green, 11 red
3                                 None
4                                 None
5                                 None
Row_count                            3
Name: 22, dtype: object
3
INDEXXXXX:  24
0                      1 red, 3 blue
1                             2 blue
2             1 green, 1 red, 3 blue
3                     1 red, 1 green
4                               None
5                               None
Row_count                          4
Name: 23, dtype: object
4
INDEXXXXX:  25
0             12 green, 2 red, 10 blue
1                       6 green, 3 red
2              3 green, 18 blue, 3 red
3             17 green, 3 red, 18 blue
4                                 None
5                                 None
Row_count                            4
Name: 24, dtype: object
4
INDEXXXXX:  26
0             4 red, 12 blue, 5 green
1              3 green, 5 red, 1 blue
2              6 blue, 4 green, 1 red
3                     6 blue, 7 green
4              3 green, 5 red, 2 blue
5              1 green, 2 blue, 9 red
Row_count                           6
Name: 25, dtype: object
6
INDEXXXXX:  27
0                     1 red, 9 green
1                            3 green
2             9 green, 2 blue, 1 red
3                   10 green, 1 blue
4             1 red, 5 green, 3 blue
5                               None
Row_count                          5
Name: 26, dtype: object
5
INDEXXXXX:  28
0                    10 red, 8 green
1             2 blue, 4 green, 7 red
2             2 green, 9 red, 1 blue
3                               None
4                               None
5                               None
Row_count                          3
Name: 27, dtype: object
3
INDEXXXXX:  29
0             5 blue, 5 green, 3 red
1             1 green, 2 blue, 3 red
2             2 green, 3 blue, 5 red
3                     3 red, 11 blue
4                               None
5                               None
Row_count                          4
Name: 28, dtype: object
4
INDEXXXXX:  30
0                    11 red, 5 green
1             4 blue, 3 green, 5 red
2             6 blue, 3 green, 5 red
3                               None
4                               None
5                               None
Row_count                          3
Name: 29, dtype: object
3
INDEXXXXX:  31
0             2 blue, 8 green, 14 red
1                             9 green
2              1 red, 1 blue, 4 green
3                     2 green, 10 red
4             1 red, 10 green, 2 blue
5                     8 green, 14 red
Row_count                           6
Name: 30, dtype: object
6
INDEXXXXX:  32
0             14 green, 6 red, 6 blue
1             1 red, 2 blue, 15 green
2             2 red, 18 green, 1 blue
3                                None
4                                None
5                                None
Row_count                           3
Name: 31, dtype: object
3
INDEXXXXX:  33
0                     16 green, 4 red
1                     18 green, 3 red
2                     5 red, 10 green
3                     5 red, 19 green
4                     11 green, 4 red
5             11 red, 1 blue, 2 green
Row_count                           6
Name: 32, dtype: object
6
INDEXXXXX:  34
0                      1 blue, 11 red
1                      5 red, 4 green
2             4 green, 1 blue, 12 red
3              2 blue, 1 green, 7 red
4             3 green, 1 blue, 12 red
5                                None
Row_count                           5
Name: 33, dtype: object
5
INDEXXXXX:  35
0                       5 red, 1 blue
1                       1 blue, 1 red
2             2 blue, 2 green, 15 red
3                      7 red, 2 green
4              3 blue, 1 green, 1 red
5             16 red, 3 blue, 1 green
Row_count                           6
Name: 34, dtype: object
6
INDEXXXXX:  36
0                    10 green, 16 red
1             2 blue, 14 green, 6 red
2             1 blue, 8 green, 12 red
3                                None
4                                None
5                                None
Row_count                           3
Name: 35, dtype: object
3
INDEXXXXX:  37
0                   17 green, 14 blue
1                   10 green, 12 blue
2             10 blue, 1 red, 8 green
3                                None
4                                None
5                                None
Row_count                           3
Name: 36, dtype: object
3
INDEXXXXX:  38
0                     9 blue, 2 green
1              5 blue, 1 green, 5 red
2              6 blue, 2 green, 7 red
3             17 red, 1 green, 7 blue
4             1 green, 9 blue, 16 red
5                                None
Row_count                           5
Name: 37, dtype: object
5
INDEXXXXX:  39
0             2 red, 13 blue, 10 green
1              5 blue, 15 green, 1 red
2                     13 blue, 5 green
3               3 red, 6 blue, 2 green
4              17 green, 1 blue, 4 red
5              4 red, 1 blue, 11 green
Row_count                            6
Name: 38, dtype: object
6
INDEXXXXX:  40
0                    4 green, 12 blue
1             5 red, 13 blue, 1 green
2                      4 green, 7 red
3                     7 blue, 2 green
4                                None
5                                None
Row_count                           4
Name: 39, dtype: object
4
INDEXXXXX:  41
0                      3 red, 1 green
1             10 green, 4 blue, 5 red
2                       8 blue, 5 red
3                                None
4                                None
5                                None
Row_count                           3
Name: 40, dtype: object
3
INDEXXXXX:  42
0             8 blue, 12 red, 5 green
1              8 red, 5 green, 4 blue
2                     3 green, 13 red
3                      8 blue, 16 red
4             12 red, 3 green, 1 blue
5              2 blue, 2 green, 6 red
Row_count                           6
Name: 41, dtype: object
6
INDEXXXXX:  43
0                       5 blue, 4 red
1                      10 red, 6 blue
2             12 red, 2 blue, 1 green
3             7 blue, 12 red, 1 green
4                                None
5                                None
Row_count                           4
Name: 42, dtype: object
4
INDEXXXXX:  44
0                      11 blue, 5 red
1             2 red, 13 green, 5 blue
2             7 red, 7 blue, 11 green
3                                None
4                                None
5                                None
Row_count                           3
Name: 43, dtype: object
3
INDEXXXXX:  45
0                       7 red, 6 blue
1                     5 blue, 6 green
2              5 green, 5 blue, 7 red
3             4 red, 9 green, 12 blue
4             9 blue, 12 green, 1 red
5                                None
Row_count                           5
Name: 44, dtype: object
5
INDEXXXXX:  46
0             2 green, 7 blue, 20 red
1                    18 green, 2 blue
2              8 blue, 1 red, 3 green
3                     6 green, 1 blue
4              2 red, 6 blue, 4 green
5                                None
Row_count                           5
Name: 45, dtype: object
5
INDEXXXXX:  47
0                       6 red, 6 blue
1             14 blue, 7 green, 2 red
2                       8 blue, 3 red
3                                None
4                                None
5                                None
Row_count                           3
Name: 46, dtype: object
3
INDEXXXXX:  48
0                       1 red, 5 blue
1             3 blue, 15 green, 2 red
2             6 blue, 1 red, 13 green
3              6 green, 4 blue, 3 red
4                    11 green, 3 blue
5                                None
Row_count                           5
Name: 47, dtype: object
5
INDEXXXXX:  49
0             1 green, 15 blue, 3 red
1                    15 green, 6 blue
2             12 green, 2 red, 8 blue
3                    3 green, 16 blue
4                                None
5                                None
Row_count                           4
Name: 48, dtype: object
4
INDEXXXXX:  50
0             8 blue, 7 red, 1 green
1             6 blue, 1 green, 2 red
2                      3 red, 7 blue
3             4 blue, 6 red, 1 green
4                               None
5                               None
Row_count                          4
Name: 49, dtype: object
4
INDEXXXXX:  51
0                      2 red, 5 blue
1                    2 red, 10 green
2                   11 green, 1 blue
3             9 green, 1 blue, 2 red
4                   5 blue, 11 green
5             1 red, 8 green, 1 blue
Row_count                          6
Name: 50, dtype: object
6
INDEXXXXX:  52
0             1 green, 1 red, 15 blue
1                      17 blue, 1 red
2                      5 red, 1 green
3             19 blue, 6 red, 3 green
4                     5 blue, 1 green
5                                None
Row_count                           5
Name: 51, dtype: object
5
INDEXXXXX:  53
0              1 blue, 12 red, 6 green
1               3 red, 7 green, 3 blue
2               2 blue, 7 red, 5 green
3              4 red, 3 blue, 19 green
4             10 red, 12 green, 2 blue
5              5 blue, 7 red, 14 green
Row_count                            6
Name: 52, dtype: object
6
INDEXXXXX:  54
0             12 green, 1 red, 4 blue
1              3 blue, 5 red, 8 green
2                     9 green, 6 blue
3             3 green, 2 red, 11 blue
4             3 green, 10 blue, 7 red
5              2 red, 3 green, 4 blue
Row_count                           6
Name: 53, dtype: object
6
INDEXXXXX:  55
0                        5 red, 3 blue
1                      4 blue, 6 green
2                     10 blue, 1 green
3              7 green, 4 red, 14 blue
4              2 red, 9 blue, 10 green
5             5 red, 10 blue, 10 green
Row_count                            6
Name: 54, dtype: object
6
INDEXXXXX:  56
0                    3 green, 11 blue
1             4 blue, 10 green, 8 red
2              2 blue, 5 green, 2 red
3              1 blue, 1 green, 8 red
4              5 green, 7 red, 3 blue
5                                None
Row_count                           5
Name: 55, dtype: object
5
INDEXXXXX:  57
0               2 green, 2 blue, 3 red
1               8 red, 5 green, 2 blue
2             16 red, 12 blue, 7 green
3              13 blue, 6 red, 2 green
4                      12 red, 1 green
5                                 None
Row_count                            5
Name: 56, dtype: object
5
INDEXXXXX:  58
0              2 green, 3 blue, 8 red
1              3 green, 4 blue, 7 red
2             2 blue, 11 red, 4 green
3              4 green, 1 blue, 2 red
4              3 green, 3 red, 2 blue
5                                None
Row_count                           5
Name: 57, dtype: object
5
INDEXXXXX:  59
0             10 red, 6 blue, 2 green
1             2 green, 6 blue, 14 red
2             3 green, 11 red, 7 blue
3                     1 blue, 1 green
4                                None
5                                None
Row_count                           4
Name: 58, dtype: object
4
INDEXXXXX:  60
0                     5 blue, 10 red
1                     4 blue, 12 red
2             2 green, 3 red, 4 blue
3                               None
4                               None
5                               None
Row_count                          3
Name: 59, dtype: object
3
INDEXXXXX:  61
0             4 blue, 1 green
1              10 blue, 2 red
2               6 blue, 1 red
3              1 green, 7 red
4               5 blue, 5 red
5                        None
Row_count                   5
Name: 60, dtype: object
5
INDEXXXXX:  62
0               6 blue, 7 red, 1 green
1              7 blue, 7 green, 15 red
2             14 green, 16 red, 2 blue
3                       2 blue, 17 red
4              4 red, 11 green, 6 blue
5             13 green, 16 red, 5 blue
Row_count                            6
Name: 61, dtype: object
6
INDEXXXXX:  63
0             4 red, 13 green, 1 blue
1             2 green, 5 blue, 10 red
2                      3 green, 8 red
3             1 blue, 3 red, 11 green
4                       1 red, 7 blue
5                                None
Row_count                           5
Name: 62, dtype: object
5
INDEXXXXX:  64
0                    12 green, 1 blue
1             8 red, 1 blue, 10 green
2             11 green, 1 blue, 3 red
3             10 green, 2 red, 1 blue
4              1 blue, 9 green, 8 red
5                                None
Row_count                           5
Name: 63, dtype: object
5
INDEXXXXX:  65
0                       5 green, 2 red
1              7 blue, 5 red, 10 green
2                      9 green, 8 blue
3               3 blue, 4 red, 8 green
4             11 green, 6 red, 16 blue
5                                 None
Row_count                            5
Name: 64, dtype: object
5
INDEXXXXX:  66
0              8 green, 1 red, 4 blue
1             10 green, 5 blue, 7 red
2              5 blue, 3 red, 6 green
3             4 blue, 12 green, 6 red
4                     16 green, 3 red

In [416]:
df3 = df2[0].str.split(',', expand=True)

In [417]:
df3

           0          1          2
0     7 blue      4 red   11 green
1    3 green      4 red     4 blue
2      1 red    2 green     3 blue
3      1 red   15 green       None
4      8 red       None       None
..       ...        ...        ...
95    3 blue     12 red    3 green
96     4 red    3 green       None
97     2 red    19 blue       None
98     2 red    16 blue    1 green
99   8 green      3 red       None

[100 rows x 3 columns]

In [390]:
#total = 2 + 3 + 6 + 7 + 8 + 12 + 13 + 14 + 16 + 18 + 20 + 21 + 24 + 26 + 27 + 28 + 29 + 30 + 34 + 40 + 41 + 43 + 44 + 45 + 47 + 50 + 51 + 54 + 55 + 56 + 58 + 60 + 61 + 63 + 64 + 68 + 69 + 70 + 71 + 74 + 75 + 78 + 79 + 80 + 81 + 88 + 89 + 94 + 95 + 97 + 100

In [300]:
#print(total)

2478

In [303]:
val = 0
for index, row in df.iterrows():
    count = row["Row_count"]
    i = 0
    if index < 100:
        tab = []
        tab1 = []
        green = 0
        red = 0
        blue = 0
        while (i < count):
            tab = row[i].split(',')
            for data in tab:
                data = data.split(' ')
                if "green" in data[2]:
                    green += int(data[1])
                if "red" in data[2]:
                    red += int(data[1])
                if "blue" in data[2]:
                    blue += int(data[1])
            #print(index + 1)
            #print(tab)
            #print(tab1)
            i += 1
        #print("blue", blue)
        if (green <= 13):
                if (red <= 12):
                    if (blue <=14):#| & blue <=14):
                        print(index + 1)
                        print("green", green)
                        print("red", red)
                        print("blue", blue)
                        
                        val = val + (index + 1)
        #print("green", green)
        #print("red", red)
        #print("blue", blue)
        #print("INDEXXXXX: " , index + 1)
        
print(val)
        #print(row)
    
        #lst = row[i].split(',')
        
       
        #print(lst)
        
    #for num in df.Row_count:
        #print(index, row[num])

3
green 6
red 7
blue 4
13
green 13
red 4
blue 11
18
green 1
red 10
blue 10
24
green 2
red 3
blue 8
97
green 11
red 11
blue 2
155

In [308]:
lst = [2 , 3 , 6 , 7 , 8 , 12 , 13 , 14 , 16 , 18 , 20 , 21 , 24 , 26 , 27 , 28 , 29 , 30 , 34 , 40 , 41 , 43 , 44 , 45 , 47 , 50 , 51 , 54 , 55 , 56 , 58 , 60 , 61 , 63 , 64 , 68 , 69 , 70 , 71 , 74 , 75 , 78 , 79 , 80 , 81 , 88 , 89 , 94 , 95 , 97 , 100]

In [319]:
for index, row in df.iterrows():
    #if index + 1 in lst:
    x = 0
    while x < 5:
        print(index + 1)
        print(row[x])
        x += 1

1
 7 blue, 4 red, 11 green
1
 2 red, 2 blue, 7 green
1
 2 red, 13 blue, 8 green
1
 18 blue, 7 green, 5 red
1
None
2
 3 green, 4 red, 4 blue
2
 6 red, 4 green, 4 blue
2
 2 blue, 4 green, 3 red
2
None
2
None
3
 1 red, 2 green, 3 blue
3
 1 red, 2 green
3
 2 green, 3 red
3
 1 blue, 2 red
3
None
4
 1 red, 15 green
4
 1 green, 2 blue
4
 12 green, 1 red, 2 blue
4
 14 green
4
 2 green, 1 blue, 2 red
5
 8 red
5
 7 red
5
 11 red, 4 green
5
 1 blue, 8 red
5
 6 red, 2 green, 1 blue
6
 3 blue, 2 red, 6 green
6
 2 red, 8 green, 1 blue
6
 1 red, 3 blue
6
None
6
None
7
 5 green, 1 red, 1 blue
7
 6 blue, 12 red
7
 6 red, 7 green
7
 3 green, 1 blue
7
None
8
 10 red, 6 green
8
 4 blue, 6 green, 5 red
8
 8 green, 5 red, 5 blue
8
 2 red, 4 blue
8
None
9
 11 blue, 13 red, 3 green
9
 13 red, 1 green, 6 blue
9
 8 blue, 4 green, 5 red
9
 16 red, 7 green, 10 blue
9
 16 red, 5 green, 6 blue
10
 16 blue, 8 green
10
 2 red, 4 green, 1 blue
10
 15 blue
10
 4 red, 5 green, 4 blue
10
None
11
 3 blue, 8 red, 10 green
11
 10 red, 6 green
11
 1 red, 1 green
11
 13 red, 1 green, 1 blue
11
 3 green, 7 red
12
 1 red, 10 green
12
 4 red, 6 green, 1 blue
12
 9 green, 1 blue, 7 red
12
 1 blue, 13 green, 2 red
12
 2 blue, 5 red, 11 green
13
 1 red, 5 blue
13
 1 red, 6 green
13
 2 blue, 1 red
13
 2 blue, 1 red, 2 green
13
 5 green, 2 blue
14
 4 green
14
 8 blue, 1 red, 2 green
14
 7 red, 2 green, 4 blue
14
 4 blue, 7 green
14
 7 blue, 2 green, 1 red
15
 10 green, 3 red
15
 8 blue, 14 green, 3 red
15
 4 red, 1 green, 12 blue
15
None
15
None
16
 8 red, 4 blue, 6 green
16
 14 blue, 9 red, 10 green
16
 1 red, 5 blue, 8 green
16
 14 blue, 11 green, 3 red
16
None
17
 20 blue, 5 red, 4 green
17
 3 red, 14 blue
17
 4 red, 4 blue, 4 green
17
 12 blue, 5 red, 3 green
17
None
18
 7 blue, 8 red
18
 1 blue, 2 red
18
 1 green, 2 blue
18
None
18
None
19
 14 green, 4 blue
19
 6 green
19
 12 green, 5 blue
19
 12 green, 1 red, 1 blue
19
 4 blue, 10 green
20
 3 green, 4 blue, 4 red
20
 13 blue, 1 red, 2 green
20
 13 blue, 9 green, 9 red
20
None
20
None
21
 4 green, 2 blue, 2 red
21
 3 green, 2 blue
21
 1 blue, 5 green
21
 1 blue, 2 red, 3 green
21
 1 green, 1 blue, 2 red
22
 4 red, 17 green
22
 15 green, 3 blue, 2 red
22
 4 blue, 7 red, 11 green
22
 16 green, 4 red
22
 3 blue, 2 red
23
 19 green, 2 blue, 3 red
23
 1 red, 2 blue, 2 green
23
 2 blue, 10 green, 11 red
23
None
23
None
24
 1 red, 3 blue
24
 2 blue
24
 1 green, 1 red, 3 blue
24
 1 red, 1 green
24
None
25
 12 green, 2 red, 10 blue
25
 6 green, 3 red
25
 3 green, 18 blue, 3 red
25
 17 green, 3 red, 18 blue
25
None
26
 4 red, 12 blue, 5 green
26
 3 green, 5 red, 1 blue
26
 6 blue, 4 green, 1 red
26
 6 blue, 7 green
26
 3 green, 5 red, 2 blue
27
 1 red, 9 green
27
 3 green
27
 9 green, 2 blue, 1 red
27
 10 green, 1 blue
27
 1 red, 5 green, 3 blue
28
 10 red, 8 green
28
 2 blue, 4 green, 7 red
28
 2 green, 9 red, 1 blue
28
None
28
None
29
 5 blue, 5 green, 3 red
29
 1 green, 2 blue, 3 red
29
 2 green, 3 blue, 5 red
29
 3 red, 11 blue
29
None
30
 11 red, 5 green
30
 4 blue, 3 green, 5 red
30
 6 blue, 3 green, 5 red
30
None
30
None
31
 2 blue, 8 green, 14 red
31
 9 green
31
 1 red, 1 blue, 4 green
31
 2 green, 10 red
31
 1 red, 10 green, 2 blue
32
 14 green, 6 red, 6 blue
32
 1 red, 2 blue, 15 green
32
 2 red, 18 green, 1 blue
32
None
32
None
33
 16 green, 4 red
33
 18 green, 3 red
33
 5 red, 10 green
33
 5 red, 19 green
33
 11 green, 4 red
34
 1 blue, 11 red
34
 5 red, 4 green
34
 4 green, 1 blue, 12 red
34
 2 blue, 1 green, 7 red
34
 3 green, 1 blue, 12 red
35
 5 red, 1 blue
35
 1 blue, 1 red
35
 2 blue, 2 green, 15 red
35
 7 red, 2 green
35
 3 blue, 1 green, 1 red
36
 10 green, 16 red
36
 2 blue, 14 green, 6 red
36
 1 blue, 8 green, 12 red
36
None
36
None
37
 17 green, 14 blue
37
 10 green, 12 blue
37
 10 blue, 1 red, 8 green
37
None
37
None
38
 9 blue, 2 green
38
 5 blue, 1 green, 5 red
38
 6 blue, 2 green, 7 red
38
 17 red, 1 green, 7 blue
38
 1 green, 9 blue, 16 red
39
 2 red, 13 blue, 10 green
39
 5 blue, 15 green, 1 red
39
 13 blue, 5 green
39
 3 red, 6 blue, 2 green
39
 17 green, 1 blue, 4 red
40
 4 green, 12 blue
40
 5 red, 13 blue, 1 green
40
 4 green, 7 red
40
 7 blue, 2 green
40
None
41
 3 red, 1 green
41
 10 green, 4 blue, 5 red
41
 8 blue, 5 red
41
None
41
None
42
 8 blue, 12 red, 5 green
42
 8 red, 5 green, 4 blue
42
 3 green, 13 red
42
 8 blue, 16 red
42
 12 red, 3 green, 1 blue
43
 5 blue, 4 red
43
 10 red, 6 blue
43
 12 red, 2 blue, 1 green
43
 7 blue, 12 red, 1 green
43
None
44
 11 blue, 5 red
44
 2 red, 13 green, 5 blue
44
 7 red, 7 blue, 11 green
44
None
44
None
45
 7 red, 6 blue
45
 5 blue, 6 green
45
 5 green, 5 blue, 7 red
45
 4 red, 9 green, 12 blue
45
 9 blue, 12 green, 1 red
46
 2 green, 7 blue, 20 red
46
 18 green, 2 blue
46
 8 blue, 1 red, 3 green
46
 6 green, 1 blue
46
 2 red, 6 blue, 4 green
47
 6 red, 6 blue
47
 14 blue, 7 green, 2 red
47
 8 blue, 3 red
47
None
47
None
48
 1 red, 5 blue
48
 3 blue, 15 green, 2 red
48
 6 blue, 1 red, 13 green
48
 6 green, 4 blue, 3 red
48
 11 green, 3 blue
49
 1 green, 15 blue, 3 red
49
 15 green, 6 blue
49
 12 green, 2 red, 8 blue
49
 3 green, 16 blue
49
None
50
 8 blue, 7 red, 1 green
50
 6 blue, 1 green, 2 red
50
 3 red, 7 blue
50
 4 blue, 6 red, 1 green
50
None
51
 2 red, 5 blue
51
 2 red, 10 green
51
 11 green, 1 blue
51
 9 green, 1 blue, 2 red
51
 5 blue, 11 green
52
 1 green, 1 red, 15 blue
52
 17 blue, 1 red
52
 5 red, 1 green
52
 19 blue, 6 red, 3 green
52
 5 blue, 1 green
53
 1 blue, 12 red, 6 green
53
 3 red, 7 green, 3 blue
53
 2 blue, 7 red, 5 green
53
 4 red, 3 blue, 19 green
53
 10 red, 12 green, 2 blue
54
 12 green, 1 red, 4 blue
54
 3 blue, 5 red, 8 green
54
 9 green, 6 blue
54
 3 green, 2 red, 11 blue
54
 3 green, 10 blue, 7 red
55
 5 red, 3 blue
55
 4 blue, 6 green
55
 10 blue, 1 green
55
 7 green, 4 red, 14 blue
55
 2 red, 9 blue, 10 green
56
 3 green, 11 blue
56
 4 blue, 10 green, 8 red
56
 2 blue, 5 green, 2 red
56
 1 blue, 1 green, 8 red
56
 5 green, 7 red, 3 blue
57
 2 green, 2 blue, 3 red
57
 8 red, 5 green, 2 blue
57
 16 red, 12 blue, 7 green
57
 13 blue, 6 red, 2 green
57
 12 red, 1 green
58
 2 green, 3 blue, 8 red
58
 3 green, 4 blue, 7 red
58
 2 blue, 11 red, 4 green
58
 4 green, 1 blue, 2 red
58
 3 green, 3 red, 2 blue
59
 10 red, 6 blue, 2 green
59
 2 green, 6 blue, 14 red
59
 3 green, 11 red, 7 blue
59
 1 blue, 1 green
59
None
60
 5 blue, 10 red
60
 4 blue, 12 red
60
 2 green, 3 red, 4 blue
60
None
60
None
61
 4 blue, 1 green
61
 10 blue, 2 red
61
 6 blue, 1 red
61
 1 green, 7 red
61
 5 blue, 5 red
62
 6 blue, 7 red, 1 green
62
 7 blue, 7 green, 15 red
62
 14 green, 16 red, 2 blue
62
 2 blue, 17 red
62
 4 red, 11 green, 6 blue
63
 4 red, 13 green, 1 blue
63
 2 green, 5 blue, 10 red
63
 3 green, 8 red
63
 1 blue, 3 red, 11 green
63
 1 red, 7 blue
64
 12 green, 1 blue
64
 8 red, 1 blue, 10 green
64
 11 green, 1 blue, 3 red
64
 10 green, 2 red, 1 blue
64
 1 blue, 9 green, 8 red
65
 5 green, 2 red
65
 7 blue, 5 red, 10 green
65
 9 green, 8 blue
65
 3 blue, 4 red, 8 green
65
 11 green, 6 red, 16 blue
66
 8 green, 1 red, 4 blue
66
 10 green, 5 blue, 7 red
66
 5 blue, 3 red, 6 green
66
 4 blue, 12 green, 6 red
66
 16 green, 3 red
67
 6 green
67
 7 red, 1 green, 5 blue
67
 10 red, 13 green, 3 blue
67
 8 green, 11 red, 6 blue
67
 14 red, 5 green, 7 blue
68
 1 red, 8 green, 3 blue
68
 1 green, 1 red, 1 blue
68
 1 green, 11 blue, 1 red
68
None
68
None
69
 2 red, 4 green, 1 blue
69
 4 blue, 10 green
69
 4 green, 1 blue, 2 red
69
 12 green, 5 blue
69
 6 blue, 3 green
70
 1 blue, 3 green, 2 red
70
 1 green, 2 blue
70
 5 green, 1 red
70
 2 blue, 4 green
70
 1 red, 5 green
71
 6 blue, 3 red, 12 green
71
 2 red, 8 green, 3 blue
71
 8 green, 8 blue
71
 7 blue, 1 red, 9 green
71
 2 green, 4 blue, 1 red
72
 8 red, 7 blue, 6 green
72
 2 red, 8 blue, 7 green
72
 2 red, 5 blue, 1 green
72
 4 green, 6 blue, 1 red
72
 11 green, 13 red, 3 blue
73
 7 blue, 17 red, 4 green
73
 1 red, 4 green, 2 blue
73
 3 red, 4 blue, 4 green
73
 5 blue, 5 red
73
 6 red, 2 blue
74
 3 red, 2 green
74
 4 red, 12 blue, 4 green
74
 7 red, 6 blue, 10 green
74
None
74
None
75
 6 blue, 7 green
75
 8 green, 9 blue, 1 red
75
 6 red, 4 blue, 9 green
75
 10 red, 9 blue, 4 green
75
 6 red, 2 blue, 1 green
76
 10 red, 8 green
76
 2 red, 2 blue, 5 green
76
 1 red, 1 blue, 1 green
76
 9 red, 11 green, 2 blue
76
 2 blue, 9 green, 3 red
77
 9 blue, 1 red, 3 green
77
 8 blue, 17 green, 4 red
77
 5 green, 1 blue, 2 red
77
 6 green, 1 red, 9 blue
77
 4 green, 10 red
78
 5 green, 10 blue
78
 2 green, 5 blue, 11 red
78
 1 red, 1 green, 6 blue
78
 1 red, 8 blue, 4 green
78
None
79
 3 green, 1 blue, 2 red
79
 8 green, 1 blue, 2 red
79
 2 blue, 1 red, 11 green
79
None
79
None
80
 12 blue, 3 green
80
 6 red, 4 green, 13 blue
80
 4 blue, 8 red
80
 3 green, 4 blue
80
None
81
 1 green, 5 blue
81
 1 green, 3 blue, 1 red
81
 1 blue, 1 red, 3 green
81
 6 blue, 5 green
81
None
82
 2 green, 1 blue
82
 10 blue, 1 red, 6 green
82
 4 green, 20 blue, 1 red
82
 20 blue, 2 green, 1 red
82
None
83
 2 green, 9 blue, 10 red
83
 12 red, 11 blue, 4 green
83
 11 blue, 8 red, 3 green
83
 17 green, 4 blue
83
 12 green, 4 red, 6 blue
84
 7 green, 15 red, 15 blue
84
 4 blue, 3 green, 18 red
84
 2 blue, 1 red, 2 green
84
 8 blue, 19 red, 5 green
84
 11 blue, 3 red
85
 14 green, 3 red, 16 blue
85
 3 blue, 6 green
85
 12 green, 6 blue, 2 red
85
None
85
None
86
 5 red, 6 green
86
 9 red, 4 green
86
 7 green, 1 blue, 2 red
86
None
86
None
87
 10 blue, 7 red, 1 green
87
 12 blue, 14 red
87
 7 blue, 7 red
87
None
87
None
88
 5 red, 10 green, 5 blue
88
 10 green, 2 red, 8 blue
88
 2 red, 14 green, 4 blue
88
None
88
None
89
 1 blue, 6 red, 12 green
89
 9 red, 13 green, 3 blue
89
 11 green, 6 red, 3 blue
89
None
89
None
90
 1 green, 8 blue, 10 red
90
 10 blue, 7 green
90
 6 blue, 15 red, 1 green
90
 1 blue, 16 red, 4 green
90
None
91
 8 red, 9 green, 2 blue
91
 2 red, 15 blue, 2 green
91
 15 blue, 1 red, 5 green
91
 1 green, 6 red, 10 blue
91
None
92
 10 blue, 4 red
92
 9 blue, 3 red, 7 green
92
 8 blue, 16 green, 3 red
92
 16 green, 16 blue
92
None
93
 1 blue, 2 green, 1 red
93
 4 red, 7 green, 12 blue
93
 6 green, 3 blue, 4 red
93
 8 blue, 4 red, 12 green
93
 5 red, 8 green
94
 1 blue, 5 red, 6 green
94
 7 red, 6 green, 1 blue
94
 8 red, 11 green
94
 12 green, 7 red, 1 blue
94
 7 red, 8 green
95
 10 red, 7 green
95
 2 green, 1 blue, 10 red
95
 6 green, 5 red, 1 blue
95
None
95
None
96
 3 blue, 12 red, 3 green
96
 13 red, 9 blue
96
 2 green, 5 red, 13 blue
96
 2 red, 18 blue, 4 green
96
 6 red, 6 blue, 7 green
97
 4 red, 3 green
97
 2 blue, 4 red, 5 green
97
 3 red, 3 green
97
None
97
None
98
 2 red, 19 blue
98
 2 blue
98
 11 blue, 2 red
98
 3 green, 5 blue, 1 red
98
 2 red, 1 blue
99
 2 red, 16 blue, 1 green
99
 2 green, 12 blue, 6 red
99
 1 red, 3 green, 3 blue
99
 8 red, 1 green
99
 2 red, 9 blue
100
 8 green, 3 red
100
 7 green, 4 red
100
 1 red, 7 green, 2 blue
100
 1 green, 2 red
100
None